- if @todo_item_content
  %h1
    = @todo_item_content
    in
    = @todo_list_title
- else
  %h1= @todo_list_title

%p= @todo_list_description
- unless @action == 'delete'
  %p= link_to 'Read more', todo_list_url(@todo_list_id)
- else
  %p= link_to 'Go to home page', root_url
